html {
    font-size: 62.5%;
    
}

body {
    background-color: #fcccd3;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

#logo{
    margin: 1rem;
}

.main-container {
    display: block;
}

.container {
    display: block;
    float: left;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

header {
    background: #fff;
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #95424e;
}

h1 {
    font-size: 2.4rem;
    color: #95424e;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    color: #95424e;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.8rem;
    color: #95424e;
    margin-bottom: 20px;
    padding-top: 10px;
}

h4 {
    font-size: 1.6rem;
    color: #81303c;
    margin-bottom: 10px;
    padding-top: 10px;
}

p {
    margin-bottom: 10px;
    line-height: 1.4;
    color: #333;
}

img {
    max-width: 90%;
    height: auto;
    margin: 5%;
}

#tenho-interesse {
    background-color: #f8e1e4;
    width: 100%;
    text-align: center;
}

ol {
    margin-left: 30px;
    margin-bottom: 1rem;
}

ol li {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #454545;
}

section {
    background-color: #fff;
    display: block;
    float: left;
    font-size: 1.5rem; /* equivalente a 15px */ 
    padding: 20px;
    width: 100%;
}

section nav {
    display: block;
    float: left;
    width: 25%;
}

nav li {
    background-color: #95424e;
    margin: 1px 20px 1px 0;
    padding: 10px;
}

nav li:hover {
    background-color: #701e2a;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
}

nav a:hover {
    font-weight: bold;
}

section article {
    display: block;
    float: left;
    width: 70%;
}

.cognito{
    max-width: 60%;
    margin: 0 20%;
    height: 400px !important;
    overflow: hidden !important;
}

footer {
    background-color: #95424e;
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
}

footer p {
    text-align: center;
    color: #ffffff;
    font-size: 1.4rem;
}

footer small {
    font-size: 80%;
    display: block;
}

@media (max-width: 425px) {

    html{
        width: 98vw;
        margin: 0;
        padding: 1%;
        background-color: #fff;
    }

    nav{
        width: 90vw;
    }
    nav ul{
        width: 80vw;
    }
    .container{
        width: 90vw;
    }
    section{
        padding: 0;
    }

    img{
        max-width: 70vw;
    }

    section nav,
    section article,
    footer {
        width: 98vw;
        padding: 0;
    }
    
    #tenhointeresse{
        width: 100%;
    }
    .cognito{
        width: 98vw !important;
        margin: 0 !important;
        padding: 1% !important;
        height: 45rem !important;
    }
    .container {
        padding-left: 1%;
        padding-right: 1%;
        margin: 0;
    }
}